*.py[cod]

# C extensions and binaries
*.so
*.o
fx2upload

# Packages
*.egg
*.egg-info
hantek6022api*.tar.gz
*.deb
build
dist
deb_dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Other test results
model*.conf
*.csv

# Backups
*~
*.orig
*.test
*.new
*.old
*.diff

# Other intermediate files
*.conf
*.ini
*.dat
*.dump
