# the actively developed fw (DDS120, DSO6021, DSO6022BE, DSO6022BL)
include PyHT6022/Firmware/HEX/*-firmware.hex

# the legacy fw (stock & modded)
include PyHT6022/Firmware/HEX/*.ihex

# tool scripts
include examples/calibrate_6022.py
include examples/capture_6022.py
include examples/plot_from_capture_6022.py
include examples/fft_from_capture_6022.py
include examples/fft_ft_from_capture_6022.py
include examples/set_cal_out_freq_6022.py
include examples/upload_6022_firmware_from_hex.py
include examples/upload_6022_firmware.py

# linux binaries
include fx2upload/fx2upload

# the udev rules to access USB
include udev/60-hantek6022api.rules
